{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}{% trans "Change Password" %}{% endblock page_title %}


{% block content %}
<!-- Start Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>{% trans "My Account" %}</h2>
            <ul>
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li>{% trans "Change Password" %}</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Start SignUP Area -->
<section class="signup-area ptb-100">
    <div class="container">
        <div class="signup-content">
            <h2>{% trans "Change Password" %}</h2>
            <p>{% trans "Don't use a variation of an old password or any personal information." %}</p>

            <form class="signup-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">{% trans "New Password" %}</label>
                    {% render_field form.password1 type="password" class="form-control" style="direction: rtl;" name="password1" placeholder="رمز عبور جدید" %}
                    {{ form.password1.errors | safe }}
                </div>
                <div class="form-group">
                    <label for="id_email">{% trans "New Password Again" %}</label>
                    {% render_field form.password2 type="password" class="form-control" style="direction: rtl;" name="password2" placeholder="رمز عبور جدید (دوباره)" %}
                    {{ form.password2.errors | safe }}
                </div>

                <button type="submit" class="default-btn">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</section>
<!-- End SignUP Area -->

{% endblock content %}