{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}{% trans "Reset Password" %}{% endblock page_title %}


{% block content %}
<!-- Start Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>{% trans "My Account" %}</h2>
            <ul>
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li>{% trans "Reset Password" %}</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Start SignUP Area -->
<section class="signup-area ptb-100">
    <div class="container">
        <div class="signup-content">
            <h2>{% trans "Forgot password?" %}</h2>
            <p>{% trans "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}</p>

            <form class="signup-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">{% trans "Email" %}</label>
                    {% render_field form.email type="email" class="form-control" style="direction: rtl;" name="email" placeholder="آدرس پست الکترونیکی*" autocomplete="email" maxlength="320" id="id_email" %}
                    {{ form.email.errors | safe }}
                </div>

                <button type="submit" class="default-btn">{% trans "Reset password" %}</button>
            </form>
        </div>
    </div>
</section>
<!-- End SignUP Area -->

{% endblock content %}