{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}{% trans "Password Reset Done" %}{% endblock page_title %}

{% block content %}
<!-- Start Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>{% trans "My Account" %}</h2>
            <ul>
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li>{% trans "Password Reset Done" %}</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Start SignUP Area -->
<section class="signup-area ptb-100">
    <div class="container">
        <div class="signup-content">
            <h2>{% trans "Password Reset Done" %}</h2>
            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
            <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
        </div>
    </div>
</section>
<!-- End SignUP Area -->

{% endblock content %}