{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load persian_translation_tags %}
{% load widget_tweaks %}
{% load jalali_tags %}


{% block page_title %}{% trans "My Account" %}{% endblock page_title %}
{% block content %}
<!-- Start Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>{% trans "My Account" %}</h2>
            <ul>
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li>{% trans "My Account" %}</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Start SignUP Area -->
<section class="signup-area ptb-100">
    <div class="container">
        <div class="signup-content">
            <h2>{% trans "Account Info" %}</h2>

            <form class="signup-form" method="post">
                {% csrf_token %}
                {{ form.non_field_errors | safe }}
                <div class="form-group">
                    <label for="first_name">{% trans "First Name" %}</label>
                    {% render_field form.first_name type="text" class="form-control" name="first_name" id="first_name" placeholder="نام" %}
                    {{ form.first_name.errors | safe }}

                </div>
                <div class="form-group">
                    <label for="last_name">{% trans "Last Name" %}</label>
                    {% render_field form.last_name type="text" class="form-control" name="last_name" id="last_name" placeholder="نام خانوادگی" %}
                    {{ form.last_name.errors | safe }}

                </div>

                <div class="form-group">
                    <label for="id_email">{% trans "Email" %}</label>
                    {% render_field form.email type="email" class="form-control" style="direction: rtl;" name="email" placeholder="پست الکترونیکی" autocomplete="email" maxlength="320" id="id_email" %}
                    {{ form.email.errors | safe }}
                </div>

                <div class="form-group">
                    <label for="address">{% trans "Address" %}</label>
                    {% render_field form.address type="text" class="form-control" name="address" id="address" value="" placeholder="آدرس کامل" %}
                    {{ form.address.errors | safe }}

                </div>
                <div class="form-group">
                    <label for="phone_number">{% trans "Phone Number" %}</label>
                    {% render_field form.phone_number type="text" class="form-control" name="phone_number" id="phone_number" placeholder="شماره تلفن" %}
                    {{ form.phone_number.errors | safe }}

                </div>

                <button type="submit" class="default-btn">{% trans "Edit" %}</button>

            </form>
        </div>
    </div>
</section>
<hr>
<!-- End SignUP Area -->

<section class="cart-area ptb-100">
    <div class="container">
        <h2>{% trans "Orders" %}</h2>

        <div class="cart-table table-responsive">
            {% if orders %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{% trans "Orders Number" %}</th>
                        <th scope="col">{% trans "Products" %}</th>
                        <th scope="col">{% trans "Product Detail" %}</th>
                        <th scope="col">{% trans "Total Order Price" %}</th>
                        <th scope="col">{% trans "Date" %}</th>
                        <th scope="col">{% trans "Is Paid?" %}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td class="product-thumbnail">
                                {% comment %} <a href="{{item.product_obj.get_absolute_url}}">
                                    <img src="{{item.product_obj.images.first}}" alt="item">
                                </a> {% endcomment %}
                                {{ forloop.counter0|add:1|trans_number }}
                            </td>


                            <td class="product-thumbnail">
                                {% for item in order.items.all %}
                                <a href="{{item.product.get_absolute_url}}">
                                    <img src="{{item.product.images.first}}" alt="item">
                                </a>
                                {% if not forloop.last %}<hr>{% endif %}
                                {% endfor %}
                            </td>

                            <td class="product-price">
                                {% for item in order.items.all %}
                                <a href="{{item.product.get_absolute_url}}">{{item.product}}</a>
                                <ul>
                                    <li>{% trans "Color:" %} <span>{{item.color|trans_color}}</span></li>
                                    <li>{% trans "Size:" %} <span>{{item.size|trans_number}}</span></li>
                                    <li>{% trans "Price:" %} <span>{{item.new_price|intcomma:False|trans_number}}</span></li>
                                    <li>{% trans "Quantity:" %} <span>{{item.quantity|trans_number}}</span></li>


                                </ul>
                                {% endfor %}

                            </td>

                            <td class="product-subtotal">
                                <span class="subtotal-amount">{{order.new_total_price|intcomma:False|trans_number}}</span>
                                <br>
                                <small class="new-price">{{order.total_discount|intcomma:False|trans_number}} {% trans "OFF" %}</small>

                            </td>
                            <td class="product-quantity">
                                <span class="subtotal-amount">{{order.datetime_created|to_jalali:'%d %B %Y'|trans_number}}</span>

                            </td>
                            <td class="product-subtotal">
                                <span class="subtotal-amount">{% if order.is_paid %}{% trans "Yes" %}{% else %}{% trans "NO" %}{% endif %}</span>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>{% trans "Your cart is empty. Please add some products to the cart" %}</p>
            {% endif %}
        </div>
    </div>
</section>



<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>

{% endblock content %}
