<!doctype html>
{% load static %}
{% load i18n %}
{% load humanize %}
{% load persian_translation_tags %}

<html lang="ar" dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/rangeSlider.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/dark.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
        <link rel="stylesheet" href="{% static "assets/css/leave_review.css" %}">


        {% block css %}{% endblock css %}

        <title>{% block page_title %}{% endblock page_title %}</title>

        <link rel="icon" type="image/png" href="{% static "assets\img\Instagram (41)1.png" %}">
    </head>
    <body>
        
    <style>
        .hero-banner {
            background-color: #d5ccc3;
          }
          
    </style>
        <!-- Start Top Header Area -->
        <div class="top-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <ul class="header-contact-info">
                            <li>{% trans "Welcome to Giveh Rou" %}</li>

                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="top-header-discount-info">
                            {% if user.is_authenticated %}
                            <p>{% trans "Hi" %} <strong>{{user}}</strong></p>
                            {% else %}
                            <p><strong>{% trans "50% OFF" %}</strong> {% trans "all new collections!" %} <a href="{% url "product_list" %}">{% trans "Discover Now!" %}</a></p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <ul class="header-top-menu">
                            {% if user.is_authenticated %}
                            <li><a href="{% url "account_profile" %}"><i class='bx bxs-user'></i> {% trans "My Account" %}</a></li>
                            {% endif %}
                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#shoppingWishlistModal"><i class='bx bx-heart'></i> {% trans "Wishlist" %}</a></li>
                            <li><a href="{% url "compare_list" %}"><i class='bx bx-shuffle'></i> {% trans "Compare" %}</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url "account_logout" %}"><i class='bx bx-log-out'></i>{% trans "Logout" %}</a></li>
                            {% else %}
                            <li><a href="{% url "account_login" %}?next={{ request.get_full_path|urlencode }}"><i class='bx bx-log-in'></i> {% trans "Login" %}</a></li>
                            {% endif %}
                        </ul>

                        <ul class="header-top-others-option">
                            <div class="option-item">
                                <div class="search-btn-box">
                                    <i class="search-btn bx bx-search-alt"></i>
                                </div>
                            </div>

                            <div class="option-item">
                                <div class="cart-btn">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i class='bx bx-shopping-bag'></i>{% if cart %}<span>{{cart|length}}</span>{% endif %}</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Header Area -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="xton-responsive-nav">
                <div class="container">
                    <div class="xton-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{% static "assets/img/Instagram (41)1.png" %}" class="main-logo" alt="logo">
                                <img src="{% static "assets/img/Instagram (41)1.png" %}" class="white-logo" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="xton-nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="{% static "assets/img/Instagram (41)1.png" %}" class="main-logo" alt="logo">
                            <img src="{% static "assets/img/Instagram (41)1.png" %}" class="white-logo" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="{% url "home" %}" class="nav-link active">{% trans "Home" %}</a>
                                </li>

                                <li class="nav-item"><a href="{% url "product_list" %}" class="nav-link">{% trans "Shop" %}</a>
                                </li>

                                <li class="nav-item"><a href="{% url "category_list" %}" class="nav-link">{% trans "Categories" %} <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        {% for category in categories %}
                                        <li class="nav-item"><a href="{% url "category_product_list" category %}" class="nav-link">{{category.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>

                            <div class="others-option">
                                <div class="option-item">
                                    <div class="search-btn-box">
                                        <i class="search-btn bx bx-search-alt"></i>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="cart-btn">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i class='bx bx-shopping-bag'></i>{% if cart %}<span>{{cart|length}}</span>{% endif %}</a>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="burger-menu" data-bs-toggle="modal" data-bs-target="#sidebarModal">
                                        <span class="top-bar"></span>
                                        <span class="middle-bar"></span>
                                        <span class="bottom-bar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Start Sticky Navbar Area -->
        <div class="navbar-area header-sticky">
            <div class="xton-nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index-4.html">
                            <img src="{% static "assets/img/Instagram (41)1.png" %}" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="{% url "home" %}" class="nav-link active">{% trans "Home" %}</a>
                                </li>

                                <li class="nav-item"><a href="{% url "product_list" %}" class="nav-link">{% trans "Shop" %}</a></li>

                                <li class="nav-item"><a href="{% url "category_list" %}" class="nav-link">{% trans "Categories" %} <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        {% for category in categories %}
                                        <li class="nav-item"><a href="{% url "category_product_list" category %}" class="nav-link">{{category.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>

                            <div class="others-option">
                                <div class="option-item">
                                    <div class="search-btn-box">
                                        <i class="search-btn bx bx-search-alt"></i>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="cart-btn">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i class='bx bx-shopping-bag'></i>{% if cart %}<span>{{cart|length}}</span>{% endif %}</a>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="burger-menu" data-bs-toggle="modal" data-bs-target="#sidebarModal">
                                        <span class="top-bar"></span>
                                        <span class="middle-bar"></span>
                                        <span class="bottom-bar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Header Area -->

        <!-- Start Search Overlay -->
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>

                    <div class="search-overlay-form">
                        <form action="{% url "product_list" %}" method="get">
                            <input type="text" name="search" class="input-search" placeholder="{% trans "Search here..." %}">
                            <button type="submit"><i class='bx bx-search-alt'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>

        {% block content %}
        {% endblock content %}

        <!-- Start Facility Area -->
        <section class="facility-area pb-70">
            <div class="container">
                <div class="facility-slides owl-carousel owl-theme">
                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-tracking'></i>
                        </div>
                        <h3>{% trans "Free Shipping Worldwide" %}</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-return'></i>
                        </div>
                        <h3>{% trans "Easy Return Policy" %}</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-shuffle'></i>
                        </div>
                        <h3>{% trans "7 Day Exchange Policy" %}</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-sale'></i>
                        </div>
                        <h3>{% trans "Weekend Discount Coupon" %}</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-credit-card'></i>
                        </div>
                        <h3>{% trans "Secure Payment Methods" %}</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-location'></i>
                        </div>
                        <h3>{% trans "Track Your Package" %}</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-customer-service'></i>
                        </div>
                        <h3>{% trans "24/7 Customer Support" %}</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Facility Area -->

        <!-- Start Instagram Area -->
        <div class="instagram-area">
            <div class="container-fluid">
                <div class="instagram-title">
                    <a href="https://instagram.com/giveh.rou/" target="_blank"><i class='bx bxl-instagram'></i>{% trans " Follow us on @giveh.rou" %}</a>
                </div>

                <div class="instagram-slides owl-carousel owl-theme">
                    <div class="single-instagram-post">
                        <img src="{% static "assets/img/instagram/Instagram1.jpeg" %}" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://instagram.com/giveh.rou/" target="_blank" class="link-btn"></a>
                    </div>

                    <div class="single-instagram-post">
                        <img src="{% static "assets/img/instagram/Instagram2.jpeg" %}" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://instagram.com/giveh.rou/" target="_blank" class="link-btn"></a>
                    </div>

                    <div class="single-instagram-post">
                        <img src="{% static "assets/img/instagram/Instagram3.jpeg" %}" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://instagram.com/giveh.rou/" target="_blank" class="link-btn"></a>
                    </div>
                    
                    <div class="single-instagram-post">
                        <img src="{% static "assets/img/instagram/Instagram4.jpeg" %}" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://instagram.com/giveh.rou/" target="_blank" class="link-btn"></a>
                    </div>
                    
                    <div class="single-instagram-post">
                        <img src="{% static "assets/img/instagram/Instagram5.jpeg" %}" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://instagram.com/giveh.rou/" target="_blank" class="link-btn"></a>
                    </div>
                    
                    <div class="single-instagram-post">
                        <img src="{% static "assets/img/instagram/Instagram6.jpeg" %}" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://instagram.com/giveh.rou/" target="_blank" class="link-btn"></a>
                    </div>
                    
                    <div class="single-instagram-post">
                        <img src="{% static "assets/img/instagram/Instagram7.jpeg" %}" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://instagram.com/giveh.rou/" target="_blank" class="link-btn"></a>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Instagram Area -->

        <!-- Start Sidebar Modal -->
        <div class="modal right fade sidebarModal" id="sidebarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class='bx bx-x'></i></span>
                    </button>

                    <div class="modal-body">
                        <div class="sidebar-about-content">
                            <h3>{% trans "About The Site" %}</h3>

                            <div class="about-the-store">
                                <p>{% trans "This ecommerce website was created by Vahid Sharfi and using the Django framework" %}</p>
                                
                                <ul class="sidebar-contact-info">
                                    <li><i class='bx bx-map'></i> <a href="#" target="_blank">{% trans "Iran, Tehran" %}</a></li>
                                    <li><i class='bx bx-phone-call'></i> <a href="tel:+01321654214">+989399655230</a></li>
                                    <li><i class='bx bx-envelope'></i> <a href="mailto:hello@xton.com">vahid.sh1431@yahoo.com</a></li>
                                </ul>
                            </div>

                            <ul class="social-link">
                                
                                <li><a href="https://github.com/vsharafi" class="d-block" target="_blank"><i class='bx bxl-github'></i></a></li>
                                <li><a href="https://instagram.com/vahiiidsharafi/" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="https://linkedin.com/in/vahid-sharafi-7bb6bb144" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                <li><a href="https://t.me/Vahidsharafii" class="d-block" target="_blank"><i class='bx bxl-telegram'></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar Modal -->

        <!-- Start Shopping Cart Modal -->
        <div class="modal right fade shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class='bx bx-x'></i></span>
                    </button>

                    <div class="modal-body">
                        <h3>{% trans "My Cart" %} ({{cart|length|trans_number}})</h3>
                        {% if cart %}
                        <div class="products-cart-content">
                            {% for item in cart %}
                            <div class="products-cart">
                                <div class="products-image">
                                    <a href="{{item.product_obj.get_absolute_url}}"><img src="{{item.product_obj.images.first}}" alt="image"></a>
                                </div>

                                <div class="products-content">
                                    <h3><a href="{{item.product_obj.get_absolute_url}}">{{item.product_obj}}</a></h3>
                                    <span>{{item.color|trans_color}} / {{item.size|trans_number}}</span>
                                    <div class="products-price">
                                        <span>{{item.quantity|trans_number}}</span>
                                        <span>x</span>
                                        <span class="price">{{item.product_obj.price|intcomma:False|trans_number}} {% trans "$" %}</span>
                                    </div>
                                    <a href="{% url 'cart_remove' item.cart_item %}" class="remove-btn"><i class='bx bx-trash'></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="products-cart-subtotal">
                            <span>{% trans "Total Discount " %}</span>
                            <span class="subtotal">{{cart.total_discout_amount|intcomma:False|trans_number}} {% trans "$" %}</span>
                        </div>

                        <div class="products-cart-subtotal">
                            <span>{% trans "Subtotal" %}</span>
                            <span class="subtotal">{{cart.get_new_total_price|intcomma:False|trans_number}} {% trans "$" %}</span>
                        </div>

                        <div class="products-cart-btn">
                            <a href="{% url "order_create" %}" class="default-btn">{% trans "Proceed to Checkout" %}</a>
                            <a href="{% url "cart_detail" %}" class="optional-btn">{% trans "View Shopping Cart" %}</a>
                        </div>
                        {% else %}
                        <p>{% trans "Your cart is empty. Please add some products to the cart" %}</p>
                        <a href="{% url "product_list" %}" class="optional-btn">{% trans "Continue Shopping" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Shopping Cart Modal -->

        <!-- Start Wishlist Modal -->
        <div class="modal right fade shoppingWishlistModal" id="shoppingWishlistModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class='bx bx-x'></i></span>
                    </button>

                    <div class="modal-body">
                        {% if not user.is_authenticated %}
                        <br><br>
                        <h3>{% trans "Please login to see your wishlist." %}</h3>
                        {% else %}
                        {% if wishlist.all %}
                        <h3>{% trans "My Wish List" %} ({{wishlist.count|trans_number}})</h3>
                        <div class="products-cart-content">
                            {% for item in wishlist.all %}
                            <div class="products-cart">
                                <div class="products-image">
                                    <a href="#"><img src="{{item.product.images.first}}" alt="image"></a>
                                </div>

                                <div class="products-content">
                                    <h3><a href="{{item.product.get_absolute_url}}">{{item.product}}</a></h3>
                                    <div class="products-price">
                                        <span class="price">{{item.product.price|intcomma:False|trans_number}} {% trans "$" %}</span>
                                    </div>
                                    <a href="{% url "wishlist_remove" item.product.pk %}" class="remove-btn"><i class='bx bx-trash'></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="products-cart-btn">
                            <a href="{% url "cart_detail" %}" class="optional-btn">{% trans "View Shopping Cart" %}</a>
                        </div>
                        {% else %}
                        <br><br>
                        <p>{% trans "Your wishlist is empty. Please add some product to your wishlist" %}</p>
                        <a href="{% url "product_list" %}" class="optional-btn">{% trans "Continue Shopping" %}</a>
                        {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <!-- End Wishlist Modal -->

        <!-- Start Size Guide Modal Area -->
        <div class="modal fade sizeGuideModal" id="sizeGuideModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="bx bx-x"></i></span>
                    </button>

                    <div class="modal-sizeguide">
                        <h3>{% trans "Size Guide" %}</h3>
                        <p>{% trans "This is an approximate conversion table to help you find your size." %}</p>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>{% trans "Size (Eroupe and Iran Standard)" %}</th>
                                        <th>{% trans "Foot length (cm)" %}</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{37|trans_number}}</td>
                                        <td>{{22|trans_number}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{38|trans_number}}</td>
                                        <td>{{23|trans_number}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{39|trans_number}}</td>
                                        <td>{{24|trans_number}}</td>

                                    </tr>
                                    <tr>
                                        <td>{{40|trans_number}}</td>
                                        <td>{{25|trans_number}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>{{41|trans_number}}</td>
                                        <td>{{26|trans_number}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>{{42|trans_number}}</td>
                                        <td>{{27|trans_number}}</td>

                                    </tr>
                                    <tr>
                                        <td>{{43|trans_number}}</td>
                                        <td>{{27.6|trans_number}}</td>

                                    </tr>
                                    <tr>
                                        <td>{{44|trans_number}}</td>
                                        <td>{{27.9|trans_number}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Size Guide Modal Area -->

        <!-- Start Shipping Modal Area -->
        <div class="modal fade productsShippingModal" id="productsShippingModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class='bx bx-x'></i></span>
                    </button>

                    <div class="shipping-content">
                        <h3>{% trans "Shipping" %}</h3>
                        <ul>
                            <li>{% trans "Complimentary ground shipping within 1 to 7 business days" %}</li>
                            <li>{% trans "Next-day and Express delivery options also available" %}</li>
                            <li>{% trans "Purchases are delivered in an orange box tied with a Bolduc ribbon, with the exception of certain items" %}</li>
                        </ul>

                        <h3>{% trans "Returns and Exchanges" %}</h3>
                        <ul>
                            <li>{% trans "Easy and complimentary, within 14 days" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Shipping Modal Area -->

        <!-- Start Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>{% trans "About The Store" %}</h3>

                            <div class="about-the-store">
                                <p>{% trans "One of the most popular on the web is shopping." %}</p>
                                <ul class="footer-contact-info">
                                    <li><i class='bx bx-map'></i> <a href="#" target="_blank">{% trans "USA, New York" %}</a></li>
                                    <li><i class='bx bx-phone-call'></i> <a href="tel:+01321654214">+989399655230</a></li>
                                    <li><i class='bx bx-envelope'></i> <a href="mailto:hello@xton.com">hello@givehrou.com</a></li>
                                </ul>
                            </div>

                            <ul class="social-link">
                                <li><a href="" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="https://instagram.com/giveh.rou/" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                <li><a href="" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-4">
                            <h3>{% trans "Quick Links" %}</h3>

                            <ul class="quick-links">
                                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                                <li><a href="{% url "product_list" %}">{% trans "Shop" %}</a></li>
                                <li><a href="{% url "category_list" %}">{% trans "Categories" %}</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>{% trans "Customer Support" %}</h3>

                            <ul class="customer-support">
                                <li><a href="{% url "account_profile" %}">{% trans "My Account" %}</a></li>
                                <li><a href="{% url "order_create" %}">{% trans "Checkout" %}</a></li>
                                <li><a href="{% url "cart_detail" %}">{% trans "Cart" %}</a></li>
                                <li><a href="{% url "compare_list" %}">{% trans "Comparison" %}</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom-area">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <p>{% trans "© Xton is Proudly Owned by" %} <a href="https://github.com/vsharafi" target="_blank">{% trans "HiBootstrap" %}</a> {% trans "designed and developed" %}</p>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="payment-types">
                                <li><a href="#" target="_blank"><img src="{% static 'assets/img/payment/visa.png' %}" alt="image"></a></li>
                                <li><a href="#" target="_blank"><img src="{% static 'assets/img/payment/mastercard.png' %}" alt="image"></a></li>
                                <li><a href="#" target="_blank"><img src="{% static 'assets/img/payment/mastercard2.png' %}" alt="image"></a></li>
                                <li><a href="#" target="_blank"><img src="{% static 'assets/img/payment/visa2.png' %}" alt="image"></a></li>
                                <li><a href="#" target="_blank"><img src="{% static 'assets/img/payment/expresscard.png' %}" alt="image"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

        <!-- Links of JS files -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/parallax.min.js' %}"></script>
        <script src="{% static 'assets/js/rangeSlider.min.js' %}"></script>
        <script src="{% static 'assets/js/nice-select.min.js' %}"></script>
        <script src="{% static 'assets/js/meanmenu.min.js' %}"></script>
        <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/sticky-sidebar.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
        <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <script src="{% static 'assets/js/ajaxchimp.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>


    </body>
</html>